{% extends 'main.html' %}
{% load static %}

{% block content %}

<!--Progress bar-->
<style type="text/css">
    .progressbar {
        counter-reset: step;
    }
    .progressbar li {
        font-weight: bold;
        list-style-type: none;
        float: left;
        width: 33.33%;
        position: relative;
        text-align: center;
    }
    .progressbar li::before {
        content: counter(step);
        counter-increment: step;
        font-weight: bold;
        width: 40px;
        height: 40px;
        border:  5px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
    }
    .progressbar li::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ddd;
        top: 20px;
        left: -50%;
        z-index: -1;
    }
    .progressbar li:first-child::after {
        content: none;
    }
    .progressbar li.active {
        color: #257bfa;
    }
    .progressbar li.active::before {
        border-color: #257bfa;
    }
    .progressbar li.active + li.active::after {
        background-color: #257bfa;
    }

    .hidden {
        display: none;
    }
</style>
<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block') {
            e.style.display = 'none';
        } else {
            e.style.display = 'block';
        }
    }
</script>

<script type="text/javascript">
    function GetInfo() {
    }
</script>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
            <!-- Features section-->
            <section class="py-1" id="features">
                <div class="container px-5 my-5">

                    <p style="margin-bottom: 3cm;"></p>
                    
                    <div id="mydiv">
                        <form method="post" enctype="multipart/form-data" action="result">
                            {% csrf_token %}
                            
                            <div class="step step-1 active">
                                <ul class="progressbar">
                                    <li class="step-1 active">Files</li>
                                    <li class="step-2">Ancestral States</li>
                                    <li class="step-3">Delta</li>
                                </ul>
                                <div style="height: 10vh"></div>

                                <div class="form-group row">
                                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"><h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-1-modal"></i>File Name:</h5></label>
                                    <div class="col-sm-10">
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control form-control-lg" id="n0" name="n0" placeholder="  e.g. Delta_example">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><h5>.( txt | csv )</h5></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" tabindex="-1" id="help-1-modal" aria-labelledby="modal-title" aria-hidden="true">
                                    <div class="modal-dialog" style="width:3250px;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="modal-title">File Name</h3>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                
                                            </div>
                                            <div class="modal-body">

                                                <h6>Name of the downloadable files with the resulting data and statistics (can be downloaded after results).</h6>
                                                <div style="height: 2vh"></div>

                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Delta_example.txt
                                                        <small class="text-muted">Results</small>
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Delta_example.csv
                                                        <small class="text-muted">Results</small>
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Delta_example_metadata.txt
                                                        <small class="text-muted">Metadata</small>
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Delta_example_metadata.csv
                                                        <small class="text-muted">Metadata</small>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-primary next-btn">Next</button>
                            </div>

                            <div class="step step-2">
                                <ul class="progressbar">
                                    <li class="step-1 active">Files</li>
                                    <li class="step-2 active">Ancestral States</li>
                                    <li class="step-3">Delta</li>
                                </ul>
                                <div style="height: 10vh"></div>

                                <div class="form-group">
                                    <h5><label for="Name">Do you want to input the ancestral states directly?</h5></label> 
                                    <select class="form-select" name="doyou1" id="doyou1">
                                        <option value="Yes">          Yes, input them directly.</option>
                                        <option value="No" selected>  No, calculate them.</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-2-modal"></i> 
                                        <label for="States">Input Ancestral States Directly:</h5></label>
                                    <input class="btn btn-primary" type="file" id="ancest" name="ancest">
                                </div>

                                <div class="modal fade" tabindex="-1" id="help-2-modal" aria-labelledby="modal-title" aria-hidden="true">
                                    <div class="modal-dialog" style="width:3250px;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="modal-title">Input Ancestral States Directly</h3>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <h6>This is how the file should look like</h6>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 2vh"></div>

                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-xl-6">
                                        <div class="text-center">
                                            <h4 class="fw-bolder">OR</h4>
                                        </div>
                                    </div>
                                </div>






                                <div style="height: 2vh"></div>
                                <div class="accordion" id="chapters">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading-21">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#chapter-21" aria-expanded="true" aria-controls="chapter-21">
                                        <b><h5>Ancestral Character Estimation (PastML)</h5></b>
                                        </button>
                                        </h2>
                                        <div id="chapter-21" class="accordion-collapse collapse" aria-labelledby="heading-21" data-bs-parent="#chapters">
                                            <div class="accordion-body">

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-3-modal"></i> 
                                                                <label for="Tree">Phylogenetic Tree(s):</h5></label>
                                                            <input class="btn btn-primary" type="file" id="tree" name="tree">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-4-modal"></i>
                                                                <label for="States">Leaf States:</h5></label>
                                                            <input class="btn btn-primary" type="file" id="states" name="states">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-20-modal"></i>  
                                                        <label for="Delimiter">Multiple Trees Delimiter:</h5></label> 
                                                    <input class="form-control" type="text" id="delim" name="delim">
                                                    <small id="emailHelp" class="form-text text-muted">If left blank it will consider multiple lines as multiple phylogenetic trees</small>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-5-modal"></i>
                                                                <label for="Name">Method:</h5></label> 
                                                            <select class="form-select" name="pml1" id="pml1">
                                                                <option value="MPPA" selected>  MPPA</option>
                                                                <option value="MAP">            MAP</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-6-modal"></i>
                                                                <label for="Name">Model:</h5></label> 
                                                            <select class="form-select" name="pml2" id="pml2">
                                                                <option value="JC">             JC</option>
                                                                <option value="F81" selected>   F81</option>
                                                                <option value="EFT">            EFT</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" tabindex="-1" id="help-3-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">Phylogenetic Tree</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>This is how the file should look like</h6>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="modal fade" tabindex="-1" id="help-4-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">Leaf States</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>This is how the file should look like</h6>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="modal fade" tabindex="-1" id="help-20-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">Multiple Trees Delimiter</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>This is how the file should look like</h6>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" tabindex="-1" id="help-5-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">Method</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>This is how the file should look like</h6>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" tabindex="-1" id="help-6-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">Model</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>This is how the file should look like</h6>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div style="height: 2vh"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
            
                                <button type="button" class="btn btn-primary previous-btn">Prev</button>    
                                <button type="button" class="btn btn-primary next-btn">Next</button>
                            </div>

                            <div class="step step-3">
                                <ul class="progressbar">
                                    <li class="step-1 active">Files</li>
                                    <li class="step-2 active">Ancestral States</li>
                                    <li class="step-3 active">Delta</li>
                                </ul>
                                <div style="height: 10vh"></div>


                                <div style="height: 2vh"></div>
                                <div class="accordion" id="chapters">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading-31">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#chapter-31" aria-expanded="true" aria-controls="chapter-31">
                                        <b><h5>Delta</h5></b>
                                        </button>
                                        </h2>
                                        <div id="chapter-31" class="accordion-collapse collapse" aria-labelledby="heading-31" data-bs-parent="#chapters">
                                            <div class="accordion-body">
                                                
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-8-modal"></i>
                                                                <label for="l0">L0:</h5></label>
                                                            <input class="form-control" type="text" value="0.1" id="d1" name="d1">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-9-modal"></i>
                                                                <label for="Se">Se:</h5></label>
                                                            <input class="form-control" type="text" value="0.5" id="d2" name="d2">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" tabindex="-1" id="help-8-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">L0</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>Parameter for the bayesian inference on the node entropies. Rate parameter of the exponential prior distribution</h6>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" tabindex="-1" id="help-9-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">Se</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>Parameter for the bayesian inference on the node entropies. Standard deviation of the proposal distribution</h6>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <div class="form-group">
                                                            <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-10-modal"></i>
                                                                <label for="Sim">Sim:</h5></label>
                                                            <input class="form-control" type="text" value="1000" id="d3" name="d3">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-11-modal"></i>
                                                                <label for="Thin">Thin:</h5></label>
                                                            <input class="form-control" type="text" value="10" id="d4" name="d4">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-12-modal"></i>
                                                                <label for="Burn">Burn:</h5></label>
                                                            <input class="form-control" type="text" value="100" id="d5" name="d5">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" tabindex="-1" id="help-10-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">Sim</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>Number of iterations to calculate the delta-statistic</h6>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" tabindex="-1" id="help-11-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">Thin</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>Every x iteration we keep</h6>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" tabindex="-1" id="help-12-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">Burn</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>Number of iterations that are burned-in</h6>
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <h5><i class="bi bi-info-circle btn" data-bs-toggle="modal" data-bs-target="#help-7-modal"></i>
                                                        <label for="Name">Formula:</h5></label> 
                                                    <select class="form-select" type="text" name="ent1" id="ent1">
                                                        <option value="SE">               Shannon Entropy</option>
                                                        <option value="GI">               Ginni Impurity</option>
                                                        <option value="LSE" selected>     Linnear Shannon Entropy</option>
                                                    </select>
                                                </div>

                                                <div class="modal fade" tabindex="-1" id="help-7-modal" aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog" style="width:3250px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="modal-title">Formula</h3>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                
                                                                <h6>Select formula to calculate the entropy of the delta-statistic.</h6>
                                                                <div style="height: 2vh"></div>
                
                                                                <ul class="list-group">
                                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                        Shannon Entropy
                                                                        <small><button type="button" class="btn btn-outline-secondary">REF.</button></small>
                                                                    </li>
                                                                </ul>
                                                                <div style="height: 2vh"></div>
                
                                                                
                                                                <div style="height: 2vh"></div>
                                                                <ul class="list-group">
                                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                        Ginni impurity
                                                                        <small><button type="button" class="btn btn-outline-secondary">REF.</button></small>
                                                                    </li>
                                                                </ul>
                                                                <div style="height: 2vh"></div>
                
                                                                <div style="height: 2vh"></div>
                                                                <ul class="list-group">
                                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                        Linnear Shannon Entropy
                                                                        <small><button type="button" class="btn btn-outline-secondary">REF.</button></small>
                                                                    </li>
                                                                </ul>
                                                                <div style="height: 2vh"></div>
                
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div style="height: 2vh"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <button type="button" class="btn btn-primary previous-btn">Prev</button>
                                <input type="submit" class="btn btn-success submit-btn">


                            </div>
                        </form>
                    </div>

                </div>
            </section>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Responsive Sidebar -->
        <script src={% static 'base/js/sidebar.js' %}></script>
        <!-- Multi-Form JS -->
        <script src={% static 'base/js/multi_form.js' %}></script>
    </main>
</body>

{% endblock content %}