<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Delta Statistic</title>
        <link rel="icon" type="image/x-icon" href={% static 'base/assets/Delta.png' %} />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <!-- Core theme CSS-->
        <link href={% static 'base/css/main.css' %} rel="stylesheet" />
    </head>

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            
            <!-- Navigation-->
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <div class="sidebar">
                        <div class="logo_content">
                            <i class='bx bx-menu' id="btn"></i>
                            <div class="logo"></div>
                        </div>
                        <ul class="nav_list">
                            <li>
                                <a href={% url 'home' %}>
                                    <i class='bx bx-home'></i>
                                    <span class="links_name">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'calculate' %}>
                                    <i class='bx bx-bolt-circle' ></i>
                                    <span class="links_name">Calculate</span>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'help' %}>
                                    <i class='bx bx-help-circle' ></i>
                                    <span class="links_name">Help</span>
                                </a>
                            </li>
                        </ul>
                    </div>


                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href={% url 'home' %}>Home</a></li>
                            <li class="nav-item"><a class="nav-link" href={% url 'about' %}>About</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Articles</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="https://doi.org/10.1093/bioinformatics/bty800">Borges (2019) - δ Statistic</a></li>
                                    <li><a class="dropdown-item" href="https://doi.org/10.1093/molbev/msz131">PastML (2019) - ACR</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </main>
    </body>

    {% block content %}

    {% endblock %}

</html>